In [151]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from sklearn.impute import SimpleImputer
from pandas.api.types import is_string_dtype
from pandas.api.types import is_numeric_dtype

In [152]:
dataset = pd.read_csv('teste.csv')

In [153]:
dataset

   C1   C2   C3
0   1  SIM  5.0
1   2  SIM  5.0
2   3  SIM  5.0
3   4  NAO  5.0
4   5  SIM  5.0
5   6  SIM  NaN
6   7  SIM  5.0
7   8  NaN  5.0
8   9  SIM  5.0

In [154]:
dataset.isnull().sum().max()

1

In [155]:
dataset[dataset.isna().any(axis=1)]

   C1   C2   C3
5   6  SIM  NaN
7   8  NaN  5.0

In [159]:
def HandlingMissingValues(dataset):
    columnHasMissingValues = dataset.isnull().sum().sort_values(ascending=False)
    columnHasMissingValues = columnHasMissingValues.drop((columnHasMissingValues[columnHasMissingValues < 1].index), axis=0)
    for i in range(len(columnHasMissingValues)):
        if(is_numeric_dtype(dataset[teste.index[i]])):
            dataset[columnHasMissingValues.index[i]] = dataset[columnHasMissingValues.index[i]].fillna(dataset[columnHasMissingValues.index[i]].mean())
            print('Okay Numeric')
        else:
            dataset[columnHasMissingValues.index[i]] = dataset[columnHasMissingValues.index[i]].fillna(dataset[columnHasMissingValues.index[i]].mode()[0])
            print('Okay String')
    return dataset

In [160]:
# colunas = dataset.isnull().sum().sort_values(ascending=False)
# print(colunas)
# teste = colunas.drop((colunas[colunas < 1].index), axis=0)
# print(teste)
dataset[teste.index[1]].mode()[0]

'SIM'

In [161]:
dataset = HandlingMissingValues(dataset)

In [162]:
dataset

   C1   C2   C3
0   1  SIM  5.0
1   2  SIM  5.0
2   3  SIM  5.0
3   4  NAO  5.0
4   5  SIM  5.0
5   6  SIM  5.0
6   7  SIM  5.0
7   8  SIM  5.0
8   9  SIM  5.0